/* --- Music Video Section --- */
.mv-card {
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.mv-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.mv-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.mv-info {
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mv-info .new-release-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.mv-info .new-release-description {
    margin-bottom: 30px;
    max-width: 800px;
}